

    * {
    	margin: 0;
    	padding: 0;
    	box-sizing: border-box;
    	font-family: 'Poppins',sans-serif;
      }

    .container1{
        width: 100%;
        min-height: 100vh;
        padding: 5%;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .row{
        width: 500px;
        height: 300px;
        background: transparent;
        border: 2px solid rgba(255,255, 255, .5);
        border-radius: 20px;
        box-shadow: 0 0 0 5px rgba(172, 166, 166, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 300px;
        top: 2px;
    }
    .col strong{
    padding: 80px;
    	font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslategray;

    }

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    }
    img{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    }

    .Archive{
        font-size: 2em;
        color: rgb(9, 18, 25);
        user-select: none;
    }
    .navi a {
    position: relative;
    font-size: 1.1em;
    color: rgb(32, 36, 39);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    }
    .navi a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(15, 18, 21);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ;
    }
    .navi a:hover::after{
        transform: scaleX(1);


    }

    .navi .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(41, 58, 58);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:rgb(16, 31, 45);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    }
    .navi .btnlogin-popup:hover{
    background: rgb(12, 93, 58);
    color: rgb(240, 234, 234);
    }
    .wrap{
        position:relative ;
        width: 400px;
        height: 440px;
        background: transparent;
        border: 2px solid rgba(255,255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 0 5px rgb(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transform: scale(1);
        transition:transform .5s ease height .2s ease;
    }
    .wrap .active-popup{
        transform: scale(1);
    }

    .wrap .active{
        height: 520px;
    }

    .wrap .form-box{
        width:100%;
        padding: 40px;
    }
    .wrap .form-box .login{
        transition: transform .18s ease;
        transform: translateX(0);
    }

    .wrap .active .form-box .login{
    transition: none;
    transform: translateX(-400px);
    }

    .wrap .icon-close{
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background:  rgb(17, 74, 34);
        font-size: 2em;
        color: azure;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius:20px;
        cursor: pointer;
        z-index: 1;
    }
    .form-box h2{
        font-size: 2em;
        color: rgb(18, 16, 13);
        text-align: center;
    }
    .input-box{
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid rgb(14, 14, 14);
    margin: 30px 0;
    }
    .input-box label{
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: rgb(28, 25, 25);
        font-weight: 500;
        pointer-events: none;
    }
    .input-box input:focus~label,
    .input-box input:valid~label{
    top: -5px;


    }
    .input-box input{
        width: 100%;
        height: 80%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.2em;
        color: black;
        font-weight: 600;
        padding: 0 35px 0 5px;
    }
    .input-box .ilock-closed{
    position: absolute;
    right: 15px;
    font-size: 1.2em;
    color: rgb(52, 47, 47);
    line-height: 57px;
    }
    .btn{
        width: 100%;
        height: 45px;
        background: rgb(21, 95, 43);
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.2em;
        color: bisque;
        font-weight: 500;
    }
